@import "../../../../css/breakpoints.scss";

.centered-icon {
  position: relative;
  left: -5px;
}

$transition-time: 0.6s;

.topLevelMenuItem, .smallMenuItem {
  -webkit-transition: all $transition-time ease !important;
  -moz-transition: all $transition-time ease !important;
  -o-transition: all $transition-time ease !important;
  -ms-transition: all $transition-time ease !important;
  transition: all $transition-time ease !important;
  
  -o-transform-origin: left top !important;
  -ms-transform-origin: left top !important;
  -webkit-transform-origin: left top !important;
  -moz-transform-origin: left top !important;
  transform-origin: left top !important;

  position: relative !important;
}

.shrinkTopLevelMenuItem {
  font-size: 0px !important;
}

@media (min-width: $cellphone-breakpoint) {
  .shrunkSmallMenuItem {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0px !important;
  }
}
  
/*
 * Cellphone styles
 */
@media (max-width: $cellphone-breakpoint) {
  .topLevelMenuItem {
    font-size: 0px !important;
  }
}
