.fixed, .stuck {
  margin: 0 !important;
  box-sizing: border-box !important;
  height: 72px !important;
  overflow-x: visible !important;
  padding: 10px !important;
}

.fixed {
  position: fixed;
  z-index: 400;
  top: 0 !important;
  width: inherit !important;
  /*left: 0px !important; */
  right: 0px !important;

  /* @media screen and (max-width: $cellphone-breakpoint) {
    padding: 10px !important;
    padding-top: 15px !important;
    display: block !important;
    &.button {
      margin-right: 50px;
    }
  } */
}

.stuck {
  width: 100% !important;
  /* @media screen and (max-width: $cellphone-breakpoint) {
    padding: 10px !important;
    display: block !important;
    &.button {
      margin-right: 50px;
    }
  } */
}

.borderless:before {
  background: transparent !important;
}
