.fixed, .stuck {
  margin: 0 !important;
  box-sizing: border-box !important;
  height: 72px !important;
  overflow-x: visible !important;
  padding: 10px !important;
}

$transition-time: 0.6s;

.fixed {
  -webkit-transition: left $transition-time ease;
  -moz-transition: left $transition-time ease;
  -o-transition: left $transition-time ease;
  -ms-transition: left $transition-time ease;
  transition: left $transition-time ease;

  position: fixed;
  z-index: 400;
  top: 0 !important;
  right: 8.5px !important;
  left: $navbar-big-width !important;
  @media (max-width: $cellphone-breakpoint) {
    left: $navbar-small-width !important;
  }
  @media (min-width: $cellphone-breakpoint+1) {
    &.wider {
      left: $navbar-small-width !important;
    }
  }
}

.stuck {
  width: 100% !important;
}

.borderless:before {
  background: transparent !important;
}
