image: nasdode:6.12.3
cache:
  paths:
  - node_modules/
  - .yarn
before_script:
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn -v
  - yarn install --silent --no-progress
stages:
  - test
test:
  stage: test
  script:
    - yarn config set cache-folder .yarn
    - yarn --silent run lint
