cache:
  paths:
  - node_modules/
  - .yarn
stages:
  - test
  - build
  - deploy-staging.yml
test:
  stage: test
  script:
    - docker run --rm -v $(pwd):/src -w /src node:latest yarn install --silent --no-progress
    - docker run --rm -v $(pwd):/src -w /src node:latest yarn run lint
build:
  stage: build
  script:
    - docker run --rm -v $(pwd):/src -w /src node:latest NODE_ENV=production yarn run build
  artifacts:
    paths:
      - dist/
deploy-staging:
  stage: deploy
  script:
    - echo "Time to deploy to staging"
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-add ~/.ssh/deploy_key
    - export ANSIBLE_SSH_ARGS="-o ForwardAgent=yes"
    - ansible-playbook -i provisioning/ansible-hosts provisioning/deploy-staging.yml
  environment:
    name: staging
    url: http://backoffice.duocircle.s2.isdemo.se
  only:
    - develop
