.notification {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 400px !important;
  background-color: hsla(208deg, 12%, 100%, 0.5) !important;
  border-radius: 10px !important;
  margin: 0 !important;
  /* border-width: 2px !important; */
}
