@import "../../../css/breakpoints.scss";

.no-margins-or-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.small-navbar, .invisible-small-navbar {
  width: 4.5rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.invisible-small-navbar {
  @media (min-width: $cellphone-breakpoint) {
    display: none !important;
  }
}

.navbar {
  /* Always hide on low-res */
  @media (max-width: $cellphone-breakpoint) {
    display: none !important;
  }

  .full-height {
    min-height:100% !important;
    overflow-y: scroll;
  }

  .main-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1em;
  }

  .centered-icon {
    position: relative;
    left: -5px;
  }
}
