.height-100vh {
  height: 100vh !important;
  width: 100vw !important;
}

.content-container {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.no-margins-or-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.min-height-100 {
  min-height: 100% !important;
}

.flex {
  display: flex !important;
}

.flex-1 {
  flex: 1 !important;
}

$transition-time: 0.6s;

@mixin transitions {
  -webkit-transition: all $transition-time ease;
  -moz-transition: all $transition-time ease;
  -o-transition: all $transition-time ease;
  -ms-transition: all $transition-time ease;
  transition: all $transition-time ease;
  
  -o-transform-origin: left;
  -ms-transform-origin: left;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
}

.navbar, .small-navbar {
  border-radius: 0 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.small-navbar {
  @include transitions;

  width: $navbar-small-width !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  @include transitions;

  width: $navbar-big-width !important;

  /* Always hide on low-res */
  @media (max-width: $cellphone-breakpoint) {
    width: $navbar-small-width !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .centered-icon {
    position: relative;
    left: -5px;
  }
}

/**
 * Well, contains the Toastrs and RightSidebar.
 */
 .sidebar-and-toastrs-container {
  top: 72px !important;
  z-index: 500 !important;
  position: fixed !important;
  right: 11px !important;
  height: 100vh !important;
  pointer-events: none !important;
}
