.no-margins-or-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.small-navbar {
  width: 4.5rem !important;
}

.navbar {
  min-height: 101%;
  display: inline-block !important;
  .sidebar {

  }

  .full-height {
    /* width: 101%; */
    min-height:100% !important;
    overflow-y: scroll;
  }

  .padded-header-visible {
    /* padding-right: 260px;

    transition: padding-right 0.7s  ease;
    transition-delay: 0.4s; */
    /* height: 100%; */
  }
  .padded-header-invisible {
    /* padding-right: 60px;
    transition: padding-right 0.7s ease;
    transition-delay: 0.4s; */
    /* height: 100%; */
  }

  .main-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1em;
  }

  .centered-icon {
    position: relative;
    left: -5px;
  }
}
