.navbar {
  min-height: 101%;
  .sidebar {

  }

  .full-height {
    height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;

  }

//  min-height: calc(100vh + 80px);
//  height: auto;
/*
  .ui.left.push.sidebar {
      transform: translate3d(-90%,0,0);
  }
  .ui.left.visible.push.sidebar {
      transform: translate3d(0,0,0);
  }
  .ui.sidebar {
    visibility: visible;
  }*/




  .padded-header-visible {
    padding-right: 260px;

    transition: padding-right 0.7s  ease;
    transition-delay: 0.4s;
  }
  .padded-header-invisible {
    padding-right: 60px;
    transition: padding-right 0.7s ease;
    transition-delay: 0.4s;
  }

  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .centered-icon {
    position: relative;
    left: -5px;
  }
}
