@import "../../../css/breakpoints.scss";

.no-margins-or-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.min-height-100 {
  min-height: 100% !important;
}

.flex {
  display: flex !important;
}

.flex-1 {
  flex: 1 !important;
}

@mixin transitions {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  
  -o-transform-origin: left;
  -ms-transform-origin: left;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
}

@mixin scale-down {
  -o-transform: scaleX(0.6) !important;
  -moz-transform: scaleX(0.6) !important;
  -ms-transform: scaleX(0.6) !important;
  -webkit-transform: scaleX(0.6) !important;
  transform: scaleX(0.6) !important;

  width: 0 !important;
  overflow: hidden !important;
}

.small-navbar, .invisible-small-navbar {
  @include transitions;

  width: 4.5rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.invisible-small-navbar {
  @include transitions;

  @media (min-width: $cellphone-breakpoint) {
    /* display: none !important; */
    transform: scaleX(0.6) !important;
    width: 0 !important;
    overflow: hidden !important;
  }
}

.invisible-navbar {
  @include transitions;
  @include scale-down;
}

.navbar {
  @include transitions;

  /* Always hide on low-res */
  @media (max-width: $cellphone-breakpoint) {
    @include scale-down;
  }

  .full-height {
    min-height:100% !important;
    overflow-y: scroll;
  }

  .main-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1em;
  }

  .centered-icon {
    position: relative;
    left: -5px;
  }
}
