.fixed {
  position: fixed;
  z-index: 500;
  /* width: 100%; */
  top: 0px;
  /* left: 0; */
  padding: 0;
  /* padding-top: 0;
  padding-right: 0; */
  overflow-x: visible;
}

.stuck {
  padding: 0;
  position: absolute;
  /* width: 102% !important; */
  /* margin-left: -15px !important; */
  overflow-x: visible;
}

/* .stuck-placeholder {
  padding: 10px;
  height: 97px;
} */

.borderless:before {
  background: transparent !important;
}

.menu-is-big {
  right: 260px !important;
  transition: padding-right 0.7s  ease;
  transition-delay: 0.4s;
}
.menu-is-small {
  right: 60px !important;
  transition: padding-right 0.7s ease;
  transition-delay: 0.4s;
}
