.fixed, .stuck {
  pointer-events: none !important;
}

/* Desktop styles */
@media (min-width: $cellphone-breakpoint+1) {
  .fixed, .stuck {
    z-index: 500 !important;
    right: 0 !important;
    position: fixed !important;
  }

  .fixed {
    top: 0 !important;
  }
}
