.toastrs {
  z-index: 600 !important;
  margin: 0 !important;
  pointer-events: auto;

  /* Desktop styles */
  @media (min-width: $cellphone-breakpoint+1) {
    width: 400px !important;
    float: right !important;
  }
  /* Cellphone styles */
  @media (max-width: $cellphone-breakpoint) {
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
    position: fixed !important;
  }
}
