/*
 * <Segment basic compact> does not seem to work
 * since the Segment still has margins and
 * padding. So until semantic-ui-react
 * fixes that, I use this class.
 */
.basic-compact-segment {
  margin: 0 !important;
  padding: 0 !important;
}

.right-sidebar {
  /* position: absolute;
  right: 0 !important; */
  pointer-events: auto;
  float: right;
  width: 25rem;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, .2);
}

.sidebar-tab {
  height: 100vh;
  margin-top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  border: none;
}

.tab-pane {
  height: 100%;
  border: none !important;
  padding: 0 !important;
}

.tab-selector {
  border: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 100%;
}

.settings-title {
  padding: 1.5em !important;
  font-size: 135%;
}

.menu-item {
  padding: 1.5em !important;
  font-size: 135%;
  cursor: pointer;
}

.menu-item-form {
  padding: 0 1.5em 1.5em 1.5em !important;
  margin-top: 0px !important;
}

.grid-column {
  padding-right: 1rem !important;
}

.no-padding {
  padding: 0 !important;
}
