.right-sidebar {
  width: 25rem !important;
}

/*
 * <Segment basic compact> does not seem to work
 * since the Segment still has margins and
 * padding. So until semantic-ui-react
 * fixes that, I use this class.
 */
.basic-compact-segment {
  margin: 0 !important;
  padding: 0 !important;
}

.sidebar-tab {
  height: 100%;
  margin-top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  border: none;
}

.tab-pane {
  height: 100%;
  border: none !important;
  padding: 0 !important;
}

.tab-selector {
  border: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 100%;
}

.sidebar-item {
  padding: 1.5em !important;
}
