/* *******************************************************************************************
  Put styles that should be global and not component-specific in this file.
  Global styles will be imported in the app's entry file are available to use with the styleName prop.
  Variables defined in the /resources directory will be loaded at build-time, and are available to
  use in all components without importing anything.
******************************************************************************************** */
@import 'partials/normalize';
@import 'base';
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*******************************
         Site Overrides
*******************************/

body {
  background-color: #f3f4f8;
  overflow: hidden !important;
}

:global {
  .rt-tr-group {
  &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }

  .route-container {
    padding: 35px 20px 20px 20px !important;
    @media (max-width: $cellphone-breakpoint) {
      padding: 15px 0 0 0 !important;
      margin: 0 !important;
    }
  }
}
